*__pycache__/
*.egg-info/
build/
**.so
env/
/.idea/webServers.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/mamba.iml
/.idea/deployment.xml
/4edenthatislasy.py
/.idea/.gitignore
